body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornflowerblue;
    color: white;
    align-content: space-between;
    text-align: center;
    
}

button{ 
        border-radius: 80px ;
        border-color: darkblue;
        border-width: 5px;
        background-color: goldenrod;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
}

#resultados{
    background-color: whitesmoke;
    font-weight: bold;;
}

img{
    width: 200px;
}
p{
    font-weight: bold;
}